Source: u-boot-omap3
Section: bootloader
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: u-boot-omap3
Architecture: armhf armel
Depends: ${misc:Depends}
Description: Das U-Boot bootloader for OMAP3 targets
 The U-Boot bootloader (including MLO) for OMAP3 targets
 including Overo, Overo Storm, and similar.


Package: u-boot-overo
Architecture: all
Depends: u-boot-omap3, ${misc:Depends}
Description: Das U-Boot bootloader for Overo
 The U-Boot bootloader (including MLO) for Overo

Package: u-boot-overostorm
Architecture: all
Depends: u-boot-omap3, ${misc:Depends}
Description: Das U-Boot bootloader for Overo Storm
 The U-Boot bootloader (including MLO) for Overo Storm


