Source: u-boot-overo
Section: bootloader
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: u-boot-overo
Architecture: armhf
Depends: ${misc:Depends}
Description: Das U-Boot bootloader for Gumstix Overo
 The U-Boot bootloader (including MLO) for Gumstix Overo
